* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "AdobeInvisFont", "MyriadPro-Regular";
    font-style: normal;
    font-weight: 300;
    background-color: #fbfafa;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
}

.header {
    background-image: url(img/header-image.png);
    background-position: center;
}

.insta {
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
    height: 499px;
    -webkit-box-shadow: inset 31px 93px 268px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 31px 93px 268px 0px rgba(0,0,0,0.75);
    box-shadow: inset 31px 93px 268px 0px rgba(0,0,0,0.75);
    padding: 10px 20px;
    font-weight: 600;
}

@media screen and (min-width: 800px) {
    .header {
        height: 499px;
        width: 100%;
    }

    .insta {
        height: 499px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        height: 249px;
        width: 100%;
        background-size: 720px;
    }
    
    .insta {
        height: 249px;
    }
}

.insta a {
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
}

.insta a:hover {
    text-decoration: underline;
}

.insta img {
    margin-bottom: -2px;
}

.menu-bar {
    height: 100%;
    min-height: 100px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
}

@media screen and (min-width: 800px) {
    .menu-items {
        margin: 0 auto;
        max-width: 800px;
    }
    
    .menu-items > div { 
        font-size: 27px;
        text-align: center;
        float: left;
        padding: 34px 40px;
    }
}

@media screen and (min-width: 540px) and (max-width: 800px) {
    .menu-items {
        margin: 0 auto;
        max-width: 515px;
    }
    
    .menu-items > div { 
        font-size: 21px;
        text-align: center;
        float: left;
        padding: 34px 20px;
    }
}

@media screen and (max-width: 540px) {
    .menu-items {
        margin: 0 auto;
        max-width: 800px;
    }

    .menu-items > div { 
        font-size: 22px;
        text-align: center;
        padding: 20px 40px;
        width: 100%;
    }
    
}

.menu-bar a {
    color: rgba(46, 46, 46, 255);
    text-decoration: none;
}

.menu-bar a:hover {
    text-decoration: underline;
}

.content {
    height: auto;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .title {
        padding-top: 40px;
        font-size: 75px;
        color: rgba(85, 85, 89, 255);
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .title {
        padding-top: 40px;
        font-size: 46px;
        color: rgba(85, 85, 89, 255);
        text-align: center;
    }
}

.title > div {
    max-width: 840px;
    margin: auto;
}

a.button {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 19px 20px;
    width: auto;
    min-height: 65px;
    background-color: #286782;
    border-radius: 6px;
    margin-top: 80px;
}

.content-items * {
    background-color: #fff;
}

.content-items {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.content-item {
    margin: auto;
    max-width: 1440px;
    color: rgba(85, 85, 89, 255);
}

.description {
    float: left;
    overflow: hidden;
    text-align: left;
}

.description h2 {
    font-weight: 600;
    background-image: url(img/bullet.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    margin-left: -50px;
}

.photo {
    background-position: center;
    background-repeat: no-repeat;
    max-width: 800px;
}

.item-1 {
    background-image: url(img/item-1.png);
}

.item-2 {
    background-image: url(img/item-2.png);
}

.item-3 {
    background-image: url(img/item-3.png);
}


@media screen and (min-width: 800px) {
    .content-items {
        margin-top: 170px;
    }

    .content-item {
        height: 576px;
    }

    .content-item > div {
        width: 50%;
        height: 100%;
    }

    .description {
        padding: 160px 86px;
    }

    .description h2 {
        font-size: 32px;
    }

    .description p {
        font-size: 22px;
    }

    .item-1, .item-3 {
        float: right;
    }

    .item-2 {
        float: left;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    .content-items {
        margin-top: 50px;
    }

    .content-item {
        height: 800px;
    }

    .content-item > div {
        width: 100%;
        height: 50%;
    }
    
    .description {
        padding: 100px 86px;
    }

    .description h2 {
        font-size: 24px;
    }

    .description p {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .content-items {
        margin-top: 30px;
    }

    .content-item {
        height: 800px;
    }

    .content-item > div {
        width: 100%;
        height: 50%;
    }
    
    .description {
        padding: 32px 65px;
    }

    .description h2 {
        font-size: 21px;
    }

    .description p {
        font-size: 17px;
    }
    
    a.button {
        font-size: 17px;
    }

}

.footer {
    width: 100%;
    min-height: 76px;
    height: 100%;
    background-color: #efefef;
    clear: both;
    font-size: 16px;
    color: rgba(85, 85, 89, 255);
    text-align: left;    
}

@media screen and (min-width: 900px) {
    .copyright {
        float: left;
    }

    .contacts {
        float: right;
    }
}

@media screen and (max-width: 900px) {
    .copyright {
        text-align: center;
    }

    .contacts {
        text-align: center;
    }
}

.footer > div {
    padding: 25px 20px 0 20px;
}

.footer a {
    color: rgba(85, 85, 89, 255);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}